<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MessageEntities" connectionString="metadata=res://*/Message.csdl|res://*/Message.ssdl|res://*/Message.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Message;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MessageConnStr" connectionString="metadata=res://*/MessageEntity.csdl|res://*/MessageEntity.ssdl|res://*/MessageEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Message;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>